body {
    background-color: antiquewhite;
}

#banner {
    background-image: url(pattern.jpeg);
    font-family: helvetica;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: khaki;
}

#brushes{
    background-color: mediumspringgreen;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#frames{
    background-color: lightcoral;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#paint{
    background-color: skyblue;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}