body {
    background-color: antiquewhite;
    font-family: helvetica;
}

#banner {
    background-image: url(pattern.jpeg);
    font-family: helvetiva;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    color: khaki;
}

#brushes{
    background-color: mediumspringgreen;
    font-family: helvetiva;
    font-weight: bold;
    font-size: 32px;
    color: white;
}

#frames{
    background-color: lightcoral;
    font-family: helvetiva;
    font-weight: bold;
    font-size: 32px;
    color: white;
}

#paint{
    background-color: skyblue;
    font-family: helvetiva;
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.h1{
    font-size: 26px;
    font-weight: bold;
}

.description{
    font-size: 16px
}

.price{
    font-weight: bold;
    color: blue;
}